<div class="left_col">
	<h1 data-speed="-20" data-offsetY="0">The Event</h1>
	<h4>Please Join Us</h4>
	<section class="when">
		<h2>December 5th, 2013</br> 7:00pm</h2>
		<h5>Doors Open at 6:30pm</h5>
	</section><!-- when -->
	<section class="where">
		<ul>
			<li>Healing Place Church Arena</li>
			<li>19202 Highland Road</li>
			<li>Baton Rouge, Louisiana 70809</li>
		</ul>
	</section>
</div>
<div class="right_col">
	<div class="details">
		<p>JOIN US FOR AN AMAZING EVENING FEATURING A DELECTABLE DINNER, INSPIRING MUSIC, A SILENT AUCTION AND MOTIVATIONAL GUEST SPEAKERS. ALL GUESTS ARE ELIGIBLE TO WIN SOME INCREDIBLE DOOR PRIZES, INCLUDING FOUR CASH PRIZES EACH VALUED AT $500.</p>
		<p>*MUST BE PRESENT TO WIN.*</p>
	</div>
</div>
<script src="js/plugins.js"></script>