<!-- <ul class={{page.div}}>
  <li>{{page.name}}</li>
</ul> -->
<div class="involved-main">
	<div class="row header">
		<h1 class="col-md-6">The Need</h1>	
		<section class="col-md-6 details">
			<p>YOUR SUPPORT WILL GIVE THESE YOUNG ADULTS THE OPPORTUNITY TO LIVE IN A SAFE HOME, RATHER THAN BEING HOMELESS, LIVING IN A SHELTER, AND FACING UNCERTAIN, HAZARDOUS FUTURES. THEY WILL ALSO RECIEVE THE SUPPORT, EDUCATION AND LIFE-TRAINING SKILLS THEY NEED TO CREATE A BETTER FUTURE.</p>
		</section>
	</div><!-- row -->
	<h2>How can you help?</h2>
	<div id="badges" class="row">
		<div class="col-md-3 vol">
			<div class="badge" ng-click="showForm = ! showForm">
			</div><!-- badges -->
			<p>Volunteer</p>
		</div>
		<div class="col-md-3 purchase">
			<a href="http://brushfire.e-vent.info/Events/ThisAmazingPlace/Events.aspx?ID=29255" target="_blank" class="badge">
			</a><!-- badges -->
			<p>Purchase <br/>Tickets<br><span class="price">$100/ea.</span></p>

		</div>
		<div class="col-md-3 sponsor">
			<a href="http://brushfire.e-vent.info/Events/ThisAmazingPlace/Events.aspx?ID=29256" target="_blank" class="badge">
			</a><!-- badges -->
			<p>Sponsor</p>
		</div>
		<div class="col-md-3 purchase donate">
			<a href="http://brushfire.e-vent.info/Events/ThisAmazingPlace/Events.aspx?ID=29338." target="_blank" class="badge">
			</a><!-- badges -->
			<p>Donate</p>
		</div>		
	</div><!-- badges -->
	<div class="tagline">
		<h2>Be a part of the change in this community.</h2>
	</div>
	
</div><!-- involved-main -->
<div class="volunteer-form" ng-show="showForm" ng-include="'partials/volunteer_form.html'" ng-click="showForm = ! showForm"></div>
<script src="js/plugins.js"></script>