<!-- <ul class={{page.div}}>
  <li>{{page.name}}</li>
</ul> -->
<div class="need-main">
	<div class="row header">
		<h1 class="col-md-6">The Need</h1>	
		<section class="col-md-6 details">
			<p>THERE IS A NATIONWIDE EPIDEMIC OF YOUTH AGING OUT OF FOSTER CARE WITHOUT THE PROPER TOOLS NEEDED TO TRANSITION INTO ADULT LIFE. THESE YOUTH FACE A FUTURE WITHOUT A HOME, LIFE OR JOB SKILLS, NEEDED EDUCATION AND WITHOUT PARENTAL OR FAMILY GUIDANCE TO LEAD THEM TO A PROSPEROUS FUTURE.</p>
		</section>
	</div><!-- row -->
	<div class="row icons clearfix">
		<div class="col-md-2 highschool">
			<span class="icon"></span>
			<div class="details">Did not complete highschool</div>
		</div>
		<div class="icons col-md-2 college">
			<span class="icon"></span>
			<div class="details">Finish <br/>College</div>
		</div>
		<div class="icons col-md-2 homeless">
			<span class="icon"></span>
			<div class="details">Experience one or more episodes of homelessness</div>
		</div>
		<div class="icons col-md-2 unemployed">
			<span class="icon"></span>
			<div class="details">Were <br/>unemployed</div>
		</div>
		<div class="icons col-md-2 pregnant">
			<span class="icon"></span>
			<div class="details">Of young women were pregnant within 12-18 months of aging out</div>
		</div>
		<div class="icons col-md-2 jail">
			<span class="icon"></span>
			<div class="details">Were <br/>incarcerated</div>
		</div>
	</div><!-- row -->
	<div id="badges" class="row">
		<div class="col-md-4">
			<div class="badge">
				<span>82%</span>
				<p>Were <br/>neglected</p>
			</div><!-- badges -->
		</div>
		<div class="col-md-4">
			<div class="badge">
				<span>27%</span>
				<p>Physically <br/>abused</p>
			</div><!-- badges -->
		</div>
		<div class="col-md-4">
			<div class="badge">
				<span>8%</span>
				<p>Sexually <br/>abused</p>
			</div><!-- badges -->
		</div>
	</div><!-- badges -->
	<div class="tagline">
		<h2>THEIR NEED IS GREAT. YOU CAN HELP.</h2>
		<p>Sources: Child Welfare League of Louisiana, Louisiana’s Children 2012, AmericanHumane.org, ResourceLibrary.Gcyf.org, ChildrensAidSocity.org</p>
	</div>
</div><!-- need-main -->
<div class="meet">
	<div class="inner">
		<div class="description">
			<p>MEET ERIC &amp; DERRICK.</p>
			<p>TWO YOUNG BOYS ROAISED IN FOSTER CARE.</p>
			<p>THEY WERE ON THEIR WAY TO BECOMING ANOTHER STATISTIC.</p>
			<p>BUT THEIR LIVES WERE CHANGED BECAUSE OF YOUR SUPPORT.</p>
		</div>
		<a href="#play" id="play"></a>
		<span>WATCH THEIR AMAZING STORY HERE.</span>
	</div><!-- inner -->
</div><!-- meet -->
<script src="js/plugins.js"></script>